@import "font.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    font-family: 'bellotabold_italic';
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

main {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(1px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

input,
label {
    display: block;
    border-radius: 1rem;
}

label {
    margin: auto;
}

option {
    border-radius: 0.8rem;
}

textarea {
    resize: none;
    border-radius: 0.8rem;
}

.choices {
    padding-left: 1rem;
}