@import "font.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #C04848;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #480048, #C04848);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #480048, #C04848);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.15);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin: 1rem;
    .contact {
        background-color: rgba(255, 255, 255, 0.15);
        -webkit-backdrop-filter: blur(1px);
        backdrop-filter: blur(1px);
    }
}

form {
    margin: 1rem;
    .error {
        color: red;
    }
    input.transparent-input {
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid black;
    }
    .gender input {
        margin: 1rem;
    }
}

#honeyPot {
    display: none;
}

#sender {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
    border: 1px solid black;
    width: 50%;
    border-radius: 20px;
}